body {
  background-image: url(/assets/images/bg-wallpaper-index.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: orange;
  font-family: "SUSE", sans-serif;
  margin: 10px;
}

.darken-bg {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.425);
  background-attachment: fixed;
  background-size: cover;
  border-radius: 20px;
}

.title {
  padding: 10px;
  text-align: center;
  font-size: 45px;
  color: white;
  text-decoration: underline orange;
  margin: 0;
}

.profile {
  display: flex;
  flex-direction: column;
  height: 750px;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  border-top: 1px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px;
  border-style: solid;
  border-color: orange;
  font-size: 20px;
  margin: 20px;
}

#profile-image {
  width: 250px;
  height: 250px;
  border: 8px solid orange;
  border-radius: 50%;
}

.social-media-box {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 3px;
  border-right: 0px;
  border-bottom: 3px;
  border-left: 0px;
  border-style: solid;
  border-color: orange;
  border-radius: 30px;
  padding-bottom: 20px;
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.follow-me-text {
  font-size: 20px;
  font-family: "SUSE", sans-serif;
  font-weight: 500;
  text-align: center;
}

.social-media a {
  text-decoration: none;
}

.icons {
  font-size: 30px;
  color: white;
  margin: 5px;
}

.icons:hover {
  scale: 1.2;
}

.content {
  display: flex;
  padding: 50px 0px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  height: 200px;
  margin: 10px;
  padding: 2px;
  border: 3px solid orange;
  border-radius: 30px;
  position: relative;
}

.card-image {
  height: 100%;
  width: 100%;
  border-radius: 30px;
  filter: brightness(90%);
  transition: filter 0.5s ease-in-out 0.1s;
}

.card-text {
  position: absolute;
  display: block;
  background-color: rgba(0, 0, 0, 0.507);
  padding: 10px 20px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -94%);
  font-family: "SUSE", sans-serif;
  font-size: 30px;
  font-weight: 600;
  transition: transform 0.5s ease-in-out 0.1s;
  transition: font-size 0.5s ease-in-out 0.1s;
  transition: font-weight 0.5s ease-in-out 0.1s;
}

.card-button {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: orange;
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 100px;
  color: white;
  font-size: 13px;
  font-weight: 600;
  opacity: 0%;
  transition: opacity 0.5s ease-in-out 0.1s;
}

.card-button:hover {
  cursor: pointer;
  border: 3px solid orange;
  background-color: white;
  color: orange;
}

.card:hover .card-image {
  filter: brightness(30%);
}

.card:hover .card-text {
  font-size: 26px;
  font-weight: 500;
  transform: translate(-50%, -190%);
  background-color: transparent;
  padding: 0;
}

.card:hover .card-button {
  opacity: 100%;
}

footer {
  height: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  backdrop-filter: blur(10px);
  border-top: 1px;
  border-right: 0px;
  border-bottom: 1px;
  border-left: 0px;
  border-style: solid;
  border-color: orange;
}

#footer-text {
  opacity: 75%;
}

.detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

span {
  color: white;
  font-weight: 500;
}

h2 {
  font-size: 28px;
  margin: 5px;
}

@media screen and (max-width: 700px) {
  .title {
    font-size: 30px;
  }

  #profile-image {
    margin-top: 10px;
    width: 200px;
    height: 200px;
    border: 4px solid orange;
  }

  h2 {
    font-size: 20px;
  }

  .profile {
    height: 700px;
  }

  .main-list li {
    font-size: 18px;
  }

  .detail-container {

  }
}
